.cart_container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: flex;
    justify-content: flex-end;
}

.cart_sidebar {
    width: 30%;
    background-color: rgb(238, 234, 234);
}

.cart_sidebar h1 {
    color: #444;
    /* text-decoration: underline; */
}

.close_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.list_container {
    backdrop-filter: 5px;
    border-radius: 12px;
    background-color: rgba(195, 195, 195, 0.816);
    color: #333;
    font-size: 23px;
    width: 80%;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 60px;
}

.list_item {
    color: #333;
}

.hr-cart {
    border: 1px solid #0e0e0e;

}

.h3 {
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 60px;
}