.header{
    min-height: 100vh;
    background:linear-gradient(rgba(179, 181, 179, 0.9), rgba(62, 73, 68, 0.9)), url("../../images/foodonation.png") center/cover no-repeat;
}

.container{
    backdrop-filter: blur(1px);
}
.header-content .text-lead{
    font-size: 18px;
    padding-left: 270px;
    margin: 3.2rem 0 4.9rem 0;
    font-weight: 550;
    color:#056365;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #908e8e;

}
.header-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    font-weight: 900;
    padding-top: 110px;
    padding-left: 10px;
    padding-bottom: 12px;
    align-self: center!important;
    -webkit-text-fill-color: #056365;
    text-shadow: 1px 1px 1px #bcb8b8;

}
.header-btn{
    align-self: center!important;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: r gb(134, 128, 128);
}
.header-btn:hover{
    background-color: #056365;
    color: black;   
    /* border-radius: 20px; */
}
.header-btn span{
    margin-left: 10px;
    font-size: 18px;
    color: 056365;
    
}

@media screen and (min-width: 800px){
    .header-title{
        font-size: 100px;
    }
    .header-content *{
        max-width: 1000px;
    }
}