
.container3{
    background: url("../../images/bgreen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-main{
    background-color: #056365;
    border-color: #056365;
}

.bg-main:hover{
    background-color: rgb(150, 149, 149);
    border-color: rgb(150, 149, 149);
}

